button{
    background-color: #333974;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    opacity: .8;
    transition: .3s;
    margin-right: 10px;
}
button:hover{
    opacity: 1;
}

#btnComplete{
    background-color: #5cb85c;

}
#btnEliminar{
    background-color: #d9534f;
}